# Salin file ini menjadi .env lalu isi dengan URL yang sebenarnya
# cp .env.example .env

EXPO_PUBLIC_BASE_URL=https://phinime
EXPO_PUBLIC_WEB_CLIENT_ID=phinime.apps.googleusercontent.com
EXPO_PUBLIC_SUPABASE_URL=https://phinime.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=phinime
